.consultation{
    min-height: 650px;
    padding: 100px 0 9px 0;
    background: url(../img/secondbg.png) center (center/cover) no-repeat;
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        color: white;
    }
    &__subtitle{
        margin-top: 80px;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
    }
    input{
        display: block;
        width: 250px;
        height: 50px;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 15px;
    }
}